body{
    background-image: linear-gradient(to right top, #af2143, #b26420, #969b35, #64c887, #12ebeb);
    text-align: center;
    background-repeat: no-repeat;
    margin:0;
    font-size: 28px;
}
.contact_1 h3{
    display: inline;
}
#ct{
    text-align: center;
    width: auto;
    font-size: 50px;
    color: rgba(17, 39, 80, 0.932);
    border:1px solid;
    border-width: 5px;
    border-color: darkblue;
    border-style:inset;
    padding: 20px;
    background: rgb(111, 84, 129);
    background: linear-gradient(90deg, rgb(64, 32, 85) 0%, rgb(172, 22, 22) 50%, rgb(197, 155, 95) 100%);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
}
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  #main {
    transition: margin-left .5s;
    padding: 16px;
  }
  
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }
  #p{
    width: 150px;
    border: 5px solid;
    border-radius: 50%;
    border-width: 5px;
    border-color: #555;
    height: 160px;
    margin-bottom: 20px;
    padding: 5px;
  }
  #an{
    font-size: 30px;
    color: aquamarine;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 300;
    font-style:inherit;
  }
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
  }
