body{
  background: rgb(2,0,36);
  background: rgb(63,94,251);
  background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);
  text-align: center;
  
  margin:0;
  font-size: 28px;
  
  }


#sec1{
  position: absolute;
      bottom: 0;
      display: table;
      width: 100%;
      height: 80%;
      z-index: 9999;
}
#profile{
  border-radius: 50%;
  border-color: darkblue;
  border-style: solid;
  background: rgb(131,58,180);
background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
width: 40%;
}
#hi{
  font-size: 70px;
  color:yellow;
  padding: 5px;
  
}
#m{
  text-shadow: 2px 2px #1d599150;
  font-size: 60px;
  color: lightgreen;
  font-family:monospace;
  
}
#Aboutme{
  font-size: 30px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: lightpink;
  text-decoration: wavy;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

#main {
  transition: margin-left .5s;
  padding: 16px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
#abc{ 
  font-size: 50px;
  font-family: cursive;
  text-decoration-line: underline;
text-decoration-style: double;
}
#m:hover{
  transform: scale(0.9);
}

#p{
  width: 150px;
  border: 5px solid;
  border-radius: 50%;
  border-width: 5px;
  border-color: #555;
  height: 160px;
  margin-bottom: 20px;
  padding: 5px;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
}